---
layout: default
title: Blog
---

<h1>Recent Posts</h1>

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h2 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h2>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.excerpt }}

    <a href="{{ post.url }}">
        Read more...
    </a>
  </div>
  {% endfor %}
</div>

<h1>Archive Categories</h1>

<div class="categories">
  {% for category_info in site.categories %}
    <h4>
      <a href="/{{ category_info[0] }}">{{ category_info[0] | capitalize }}</a>
      ({{ category_info[1] | size }} posts)
    </h4>
  {% endfor %}
</div>
